body {
  color: $default;
  font-size: 16px;
  line-height: 1.625;
  @extend %quicksand-500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}


.main {
  flex: 1;
}

.header--404-page {
  background-color: $bg;
}

.btn {
  height: 50px;
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
  border: none;
  line-height: 50px;
  background-color: $accent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  @extend %roboto-400;
}

.section {
  padding: 120px 0;
}

.title {
  font-size: 48px;
  line-height: normal;
  @extend %roboto-700;
  color: $title;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  
  &__list {
    display: flex;
  }
  &__link {
    color: #727272;
  }
  &__item:first-child {
    position: relative;
    padding-left: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 20px;
      top: 3px;
      left: 0;
      background-image: url(../images/icons/home.svg);
    }
  }
  &__item:last-child {
    .breadcrumbs__link {
      color: $accent;
    }
  }
  &__item + &__item {
    padding-left: 40px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 9px;
      height: 13px;
      left: 15px;
      top: 9px;
      background-image: url(../images/icons/breadcrumbs_arrow.png);
      background-repeat: no-repeat;
    }
  }
}