@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

// HEADER ======================================================================

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + &__list-item {
    margin-left: 35px;
  }

  &__list-link {
    text-transform: uppercase;
    line-height: 1.2;
    color: $title;
    padding-bottom: 9px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    @extend %quicksand-400;
      &--active {
      @extend %quicksand-500;
      color: $accent;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background: currentColor;
      }
    }

      &:hover {
        color: $accent;
        @extend %quicksand-500;
      &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background: currentColor;
        }
      }
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link + &__link {
    margin-left: 25px;
  }

  &__num {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
  }
}
















@import 'media';